<div class="flex justify-center">
    <mat-card class="flex flex-col w-full" [formGroup]="userRegistration">
        <!-- Title -->
        <div class="sm:mt-8 m-0 text-4xl font-extrabold tracking-tight leading-tight">Sign up</div>
        <div class="flex items-baseline mt-0.5 mb-4 font-medium">
            <div>Already have an account?</div>
            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/auth/sign-in']">Sign in
            </a>
        </div>
        <div class="flex sm:flex-row flex-col">
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstname">
                <mat-error *ngIf="userRegistration.get('firstname')?.hasError('required')">
                    First Name is Required
                </mat-error>
                <mat-error *ngIf="userRegistration.get('firstname')?.hasError('pattern')">
                    Invalid First Name
                </mat-error>
            </mat-form-field>
            <span class="mx-2"></span>
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput type="text" formControlName="lastname">
                <mat-error *ngIf="userRegistration.get('lastname')?.hasError('required')">
                    Last Name is Required
                </mat-error>
                <mat-error *ngIf="userRegistration.get('lastname')?.hasError('pattern')">
                    Invalid Last Name
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="userRegistration.get('email')?.hasError('required')">
                Email is Required
            </mat-error>
            <mat-error *ngIf="userRegistration.get('email')?.hasError('email')">
                Invalid Email Address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Mobile</mat-label>
            <input matInput type="text" formControlName="mobile">
            <mat-error *ngIf="userRegistration.get('mobile')?.hasError('required')">
                Mobile No. is Required
            </mat-error>
            <mat-error *ngIf="userRegistration.get('mobile')?.hasError('minlength')">
                Invalid Mobile No.
            </mat-error>
            <mat-error *ngIf="userRegistration.get('mobile')?.hasError('maxlength')">
                Invalid Mobile No.
            </mat-error>
        </mat-form-field>
        <div class="flex sm:flex-row flex-col">
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput (change)="onCountrySelect($event)" formControlName="country" name="country"
                    list="countries" autocomplete="off">
                <datalist id="countries">
                    <option *ngFor="let country of countries" [value]="country">{{ country }}
                    </option>
                </datalist>
            </mat-form-field>
            <!-- <mat-form-field class="w-1/2" appearance="fill">
                <mat-label>Country</mat-label>
                <input type="text" placeholder="Select Country" formControlName="country" matInput
                    [formControl]="countryControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                        {{country}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
            <!--  -->
            <span class="mx-2"></span>
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" name="country" list="states" autocomplete="off">
                <datalist id="states">
                    <option *ngFor="let state of states" [value]="state">{{ state }}
                    </option>
                </datalist>
            </mat-form-field>
        </div>
        <div class="flex sm:flex-row flex-col">
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userRegistration.get('password')?.hasError('required')">
                    Password is Required
                </mat-error>
            </mat-form-field>
            <span class="mx-2"></span>
            <mat-form-field class="sm:w-1/2 w-full" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="userRegistration.get('confirmPassword')?.hasError('required')">
                    Confirm Password is Required
                </mat-error>
            </mat-form-field>
        </div>
        <mat-error class="mb-5 text-center"
            *ngIf="userRegistration?.hasError('notmatched') && userRegistration.get('password')?.value && userRegistration.get('confirmPassword')?.value">
            Password & Confirm Password not matched
        </mat-error>


        <button mat-flat-button class="w-full h-11" [disabled]="userRegistration.invalid" (click)="onSubmit()"
            color="primary">Sign Up</button>
    </mat-card>
</div>