<div class="flex justify-center">
    <mat-card class="flex flex-col w-[40%] h-fit" [formGroup]="changePasswordFormGroup">
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight mb-5">Change Password</div>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Enter your old password</mat-label>
            <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentPassword">
            <mat-error *ngIf="changePasswordFormGroup.get('currentPassword')?.hasError('required')">
                current password is required
            </mat-error>
            <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent"
                [attr.aria-label]="'hideCurrent password'" [attr.aria-pressed]="hideCurrent">
                <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Enter your new password</mat-label>
            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword">
            <mat-error *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('required')">
                new password is required
            </mat-error>
            <mat-error *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('minlength')">
                new password must be at least 8 characters long
            </mat-error>
            <mat-error *ngIf="changePasswordFormGroup.get('newPassword')?.hasError('maxlength')">
                new password must be at most 20 characters long
            </mat-error>
            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNew">
                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Confirm your new password</mat-label>
            <input matInput [type]="hideConfirmNew ? 'password' : 'text'" formControlName="confirmNewPassword">
            <mat-error *ngIf="changePasswordFormGroup.get('confirmNewPassword')?.hasError('required')">
                confirm new password is required
            </mat-error>
            <mat-error
                *ngIf="changePasswordFormGroup?.hasError('notmatched') && changePasswordFormGroup.get('newPassword')?.value && changePasswordFormGroup.get('confirmNewPassword')?.value">
                your new passwords are not match
            </mat-error>
            <button mat-icon-button matSuffix (click)="hideConfirmNew = !hideConfirmNew"
                [attr.aria-label]="'hideConfirmNew password'" [attr.aria-pressed]="hideConfirmNew">
                <mat-icon>{{hideConfirmNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button class="w-full h-11" mat-raised-button [disabled]="changePasswordFormGroup.invalid" (click)="onSubmit()"
            color="accent">
            <div *ngIf="isSubmitting" class="inline-flex">
                <mat-spinner [diameter]="26" color="accent"></mat-spinner>
            </div>
            <span *ngIf="!isSubmitting">
                Change Password
            </span>
        </button>
    </mat-card>
</div>