<div class="flex justify-center bg-slate-50 h-screen">
    <mat-card class="flex flex-col mt-40 h-fit w-1/4" [formGroup]="forgotForm">
        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Reset</div>
        <div class="flex items-baseline mt-0.5 mb-4 font-medium">
            <div>Go Back to</div>
            <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/auth/sign-in']">Sign in
            </a>
        </div>
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
                Email is Required
            </mat-error>
            <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
                Invalid Email Address
            </mat-error>
        </mat-form-field>


        <button mat-flat-button class="w-full h-11" [disabled]="forgotForm.invalid" (click)="onSubmit()"
            color="primary">Send Reset link</button>
    </mat-card>
</div>